---
import BaseLayout from "@/layouts/BaseLayout.astro";
// import { bodyBorder } from "@/components/utils";

const pageName: string = "About Me"
---
<BaseLayout pageName={pageName}>
  <!-- <div class={bodyBorder}> -->
  <div>
    <h1 class="text-3xl font-bold">
      Hi! I'm Ryan!
    </h1>
    <p>Coming Soon ...</p>
  </div>
</BaseLayout>
