---
import BaseLayout from "@/layouts/BaseLayout.astro";
// import { bodyBorder } from "@/components/utils";

const pageName: string = "Home Page"
---
<BaseLayout pageName={pageName}>
  <!-- <div class={bodyBorder}> -->
  <div>
    <p>Coming Soon ...</p>
  </div>
</BaseLayout>
