---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageName: string = "Home Page"
---
<BaseLayout pageName={pageName}>
  <section>
    <h1>
      Hey there! I'm Ryan 👋
    </h1>
    <p>I'm a Software Engineer based in Vancouver</p>
  </section>
</BaseLayout>
