---
import BaseLayout from "@/layouts/BaseLayout.astro";
import MarkdownPreview from "@/components/MarkdownPreview";

const pageName: string = "Markdown Preview";
---

<BaseLayout {pageName}>
  <section class="flex flex-col justify-center">
    <h1 class="text-3xl font-bold mb-4 text-center">Markdown Preview</h1>
    <div class="flex flex-col gap-6">
      <MarkdownPreview client:load />
    </div>
  </section>
</BaseLayout>
