---
import BaseLayout from "@/layouts/BaseLayout.astro";

import { TextLink } from "@ryanliu6/xi";

const pageName: string = "Plastic Models Kits";
---

<BaseLayout {pageName}>
  <section class="flex flex-col justify-center">
    <h1 class="text-xl font-bold">Plastic Model Kits</h1>
    <div class="flex flex-col gap-6">
      <p>
        Plamo, the hobby of building miniature plastic model kits, is arguably my favourite hobby of
        all time. I've been building plastic model kits since I was 10 years old, but I've only
        started airbrushing and detailing my models since 2024.
      </p>

      <p>This page is mostly a WIP as I'm building a secondary page for my collection.</p>

      <p>
        My current goal is to produce a piece that'll place in the top 3 of
        <TextLink
          href="https://bandai-hobby.net/GBWC/canada/index.html"
          title="Gunpla Builder's World Cup"
          underline={true}
        >
          GBWC (Gunpla Builder's World Cup)
        </TextLink>
        in the coming years!
      </p>
    </div>
  </section>
</BaseLayout>
