---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { bodyBorder } from "@/components/utils";

const pageTitle: string = "Projects"
---
<BaseLayout pageTitle={pageTitle}>
  <div class={bodyBorder}>
    <p>Coming Soon ...</p>
  </div>
</BaseLayout>
