---
import BaseLayout from "@/layouts/BaseLayout.astro";

const pageName: string = "Projects"
---
<BaseLayout pageName={pageName}>
  <section class="flex flex-col items-center justify-center">
    <h1 class="font-bold text-lg">Work In Progress ...</h1>
  </section>
</BaseLayout>
