---
import { getCollection } from "astro:content";

import BaseLayout from "@/layouts/BaseLayout.astro";
import WorkContent from "@/components/WorkContent";
import BorderedButton from "@/components/common/BorderedButton";

const pageName: string = "Work"
const work = await getCollection("work");
const internships = await getCollection("internships");
---
<BaseLayout pageName={pageName}>
  <section class="flex flex-col justify-center">
    <div>
      <h1 class="text-xl font-bold">Current Status</h1>
      <p>I'm currently looking for a Software Engineer Position!</p>
      <hr class="dark:border-zinc-600 mt-6 mb-2" />
    </div>

    {
      work
        .sort((a, b) => a.data?.lastDate.getTime() - b.data?.lastDate.getTime())
        .map((work) => (
          <WorkContent work={work} />
          <hr class="dark:border-zinc-600" />
        )
      )
    }

    <div class="flex justify-center pt-4">
      <BorderedButton>
        <p id="internButton">Show Internships</p>
      </BorderedButton>
    </div>

    <section id="internSection" class="hidden opacity-0 transition-opacity duration-500 ease-in-out">
      {
        internships
          .sort((a, b) => b.data?.lastDate.getTime() - a.data?.lastDate.getTime() )
          .map((internships) => (
            <WorkContent work={internships} />
            <hr class="dark:border-zinc-600" />
          )
        )
      }
    </section>
  </section>
</BaseLayout>

<script>
  const internButton = document.getElementById("internButton");
  internButton?.addEventListener("click", () => {
    const internSection = document.getElementById("internSection");
    // Logic is for previous state, so has to be backwards!
    if (internSection?.classList.contains("hidden")) {
      internButton.innerHTML = "Hide Internships";
      setTimeout(() => {
        internSection?.classList.replace("opacity-0", "opacity-100");
      }, 50);
    } else {
      internButton.innerHTML = "Show Internships";
      setTimeout(() => {
        internSection?.classList.replace("opacity-100", "opacity-0");
      }, 50);
    }
    internSection?.classList.toggle("hidden");
  })
</script>
